.input {
  font-size: 16px;
  height: 40px;
  padding: 7px 11px;
  outline: none;
  border: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  color: #333333;
  line-height: 24px;
  font-weight: 400;
}
