.button {
  background-color: #e3f3fb;
  padding: 7px 11px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid transparent;
  outline: none;

  &:hover:not(:disabled) {
    border: 1px solid transparent;
    border-color: #4067ec;
  }

  &:not(:disabled):active {
    border: 1px solid transparent;
    border-color: #4067ec;
  }

  &:disabled {
    border: 1px solid transparent;
  }
}
